Thubms.db
.DS_Store

*.log
*.class
*.py[co]

.env
*credentials*
*token*

*secret*

*person-short*
*person-full*
*person-middle*

*.class

package-lock.json

dist/
.cache/
node_modules/
geacron/
loadDatabase/python/out_*
loadDatabase/out*
*-copy.*
* - copy.*
