body {
  display: block;
  overflow-x: hidden;
  background-color: #e6f7ff;
}
h5 {
  text-align: center;
}
cite {
  text-align: center;
}

blockquote{
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 1%;
  text-align: center
}
.person-cont {
  padding: 1%;
}
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.detail-cont {
  border-left: 3px solid #ded4da;
  margin: 2%;
}
.detail-cont p {
  font-size: 15px;
  padding: 1%;
}
#persons-control {
  height: auto;
  width: 100%;
  max-height: 20%;
  background-color: rgba(40, 40, 40, 0.5) !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: justify;
  border-radius: 0px;
  overflow-y: scroll;
}
