body {
    display: block;
    overflow-x: hidden;
    background-color: #e6f7ff;
   }
h5 {
    text-align: center;
}
cite{
    text-align: center; 
}
.person-cont{
    padding:1%;
}
.image-cont{
    text-align:center;
}
.detail-cont{
    border-left:3px solid #ded4da;
}
.detail-cont p{
    font-size:15px;
    font-weight:bold;
}
