html, body {height:100%;}

.wrap {
/*центрируем*/
  position:relative;
  width:100%; /*могут быть и пиксели*/
  margin: 0px auto ;
/*вытягиваем в высоту*/
  height:auto !important;
  height:100%;
  min-height:100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  min-height: 36px;
}

.glow-button {
  box-shadow: 0 4px 15px rgba(255, 0, 0, .4) !important;
  outline: 4px auto  rgba(255, 0, 0, .4) !important;
}


/* .ol-zoom {
  top: 50px;
  left: auto;
  right: 5px;
} */

.ol-full-screen {
  top: 5px;
  right: 5px;
}

.ol-full-screen > button {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

#custom-control {
  top: 5px;
  left: 5px;
}

.ol-overlaycontainer-stopevent {
  text-align: center;
}

#year-control {
  left: 20px;
  top: 5px;
  /* --margin: 0 auto;
  --transform: translate(-80%, 0); */
  display: inline-block;
  padding: 0px;
}

#year-control > * {
  float: left;
  border: none !important;
  height: 26px !important;
  line-height: 26px !important;
}

.ol-control button, #year-input {
  background-color: rgba(40, 40, 40, 0.60) !important;
  cursor: pointer;
  touch-action: manipulation;
}

#year-control > button {
  width: 30px;
}

#year-input {
  width: 64px;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
  margin: 1px 0;
}

.input-without-focus:focus {
  outline-width: 0;
}

.fill {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map {
  border-top: 1px solid #aaa;
  /* border-radius: 5px; */
  overflow: hidden;
  width: 100%;
}

#welcome-user {
  height: 24px;
}

.hand-cursor {
  cursor: pointer;
}

.event-active-row {
  background-color: hsl(348, 100%, 61%);
}

.event-feature-color {
  color:hsl(48, 100%, 67%) ;
}

.event-feature-color:hover {
  color: hsl(171, 100%, 41%);
}

.event-feature-active-color {
  color: hsl(171, 100%, 41%);
}

#event-image-div {
  width: 200px;
  right: 0px;
  top: 36px;
  position: fixed;
  border: 1px solid #aaa;
  height: auto;
}

#event-list-div {
  background-color: yellow;
  width: 70%;
  height: 300px;
  overflow-y: scroll;
}


#events-control {
  position: fixed;
  height: auto;
  width: 100%;
  max-height: 30%;
  background-color: rgba(40, 40, 40, 0.50) !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: justify;
  border-radius: 0px;
  overflow-y: scroll;
}

.child-div {
  width: 20px;
  height: 20px;
}

#panel-info {
  /*position: absolute;
  top: 44px;
  right: 14px;
  opacity: 0.8;*/
  margin-top: 6px;
  width: auto;
}

.slider-handle {
  background: rgb(108, 117, 125);
}

.slider-selection {
  background: rgb(206, 212, 218);
  color: yellow;
}

.slider-horizontal {
  width: 96% !important;
  margin: 20px 15px !important;
}

.mb-3 {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.card-header  {
  touch-action: manipulation;
  height: 32px;
  min-height: 32px;
  line-height: 32px;
  padding-top: 0px;
  padding-left: 10px;
}

.card-body > .form-group > .col > input {
  height: 36px;
}

.card-body {
  padding-bottom: 5px;
}

input.form-control {
  margin-bottom: 2px;
}

.card-counter {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;
}

.btn-super-nav-group {
  touch-action: manipulation;
  position: absolute;
  right: 94px;
  top: 3px;
  height: 22px;
  min-height: 22px;
  line-height: 22px;
  padding: 0px;
}

.btn-super-nav-group-object {
  right: 70px;
}


.btn-super-group {
  position: absolute;
  right: 10px;
  top: 3px;
  height: 22px;
  min-height: 22px;
  line-height: 22px;
  padding: 0px;
}

.btn-add:hover {
  color: rgb(82, 203, 255);
}

.btn-apply:hover {
  color: greenyellow;
}

.btn-delete {
  color: rgb(255, 154, 171);
}

.btn-delete:hover {
  background-color: red;
  color: white;
}

.btn-group-sm {
  padding-left: 2px;
  top: 0px;
  margin: 0;
  line-height: 22px;
  height: 22px;
  min-height: 22px;
}

.btn-group-sm > .btn-secondary {
  padding: 0px 3px 1px 3px;
}

.card-footer {
  height: 36px;
  min-height: 36px;
  line-height: 36px;
  padding-top: 0px;
}

.card-footer > button {
  touch-action: manipulation;
  padding-top: 0px;
  margin-bottom: 4px;
  margin-right: 4px;
  height: 26px;
  line-height: 26px;
}

#data-counter {
  font-weight: bold;
}