body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  /* background-image: url("img/tanks/background.jpg"); */

  /* Full height */
  height: 100%; 
  font-weight: bold;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
 .image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resized-image{
    max-width: 100%;
    height: 150px;
}

  .title-cat{
      margin-left: 0px;
      margin-right: 0px;
      font-size: 16pt;
      font-weight: bold;
      text-align: center;
      display: block;
  }

  .text_cat{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  } 

  /*dropdown*/
.dropdown-menu {
	top: auto;
	left: 100%;
  transform: translateY(-2rem); 
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-item{
  cursor: pointer;
}

.dropdown-item + .dropdown-menu {
	display: none;
}
.dropdown-item.submenu::after {
	content: '▸';
	margin-left: 0.5rem;
}
 .dropdown-item.submenu:hover + .dropdown-menu,
 .dropdown-menu:hover 
 {
  display: block;
}  

.right{
  position: absolute;
  right: 0px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}