/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);*/

body {
  background: #eee;
  /* font-family: 'Source Sans Pro', sans-serif; */
  display: block;
  position: relative;
  overflow-x: hidden;
}

body::after {
  background-image: url(img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.mask {
  color: whitesmoke;
  margin: 50px 0;
}

.mask-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .mask-span {
    font-size: 20px;
  }
}

.container {
  max-width: 800px;
  margin: 10px auto;
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  color: silver;
  font-style: italic;
  line-height: 30px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(40, 40, 40, 0.8);
}

.text-center {
  text-align: center;
}

.quote-card {
  /* background: #fff; */
  /* opacity: 0.5; */
  color: white;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  /* box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12); */
  position: absolute;
  overflow: hidden;
  min-height: 120px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .quote-card {
    position: relative;
  }
}

.quote-card p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 12px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: '“';
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: '”';
  position: absolute;
  bottom: -50px;
  line-height: 100px;
  right: 100px;
  font-size: 10em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 768px) {
  .quote-card:after {
    font-size: 10em;
    right: 25px;
  }
}
.quote-card.blue-card {
  background: #0078ff;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before,
.quote-card.blue-card:after {
  color: #5faaff;
}
.quote-card.green-card {
  background: #00970b;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before,
.quote-card.green-card:after {
  color: #59e063;
}

.quote-card.red-card {
  background: #f61e32;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before,
.quote-card.red-card:after {
  color: #f65665;
}

.quote-card.yellow-card {
  background: #f9a825;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.yellow-card:before,
.quote-card.yellow-card:after {
  color: #fbc02d;
}

a {
  color: #99ccff;
}
a:hover {
  color: #6699ff;
}

#atlas {
  float: right;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-image: url(../images/temple.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
