extends layout

block content

  h1 Welcome, #{user.displayName}

  p You are logged in.

  form(action="/logout" method="post")
    input(type="hidden" name="_csrf" value=csrf())
    button.btn.btn-primary(type="submit") Logout
