doctype html
html

  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //boostrap
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")  
    link(rel="stylesheet" href="/bootstrap.min.css")
    
    //icons
    //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css")
    
    //open layer
    link(rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css")
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL")
    script(src="https://openlayers.org/en/v4.6.5/build/ol.js")

    //widgets
    script(src="/datepicker.min.js")
    link(rel="stylesheet" href="/datepicker.min.css")

    //local
    link(rel="stylesheet" href="/style.css")
    script(src="/hooks.js")
    script(src="/main.js")
    script(src="/mapControl.js")
    script(src="/mapInfo.js")
    script(src="/socket.io/socket.io.js")
    
    title Хроника военных действий
    block head
      
  body(onload="startApp()")
    .wrap
      .container-fluid
        //include messages
        block content
