extends layout

block content
    each messages, type in flash
        - if (type == 'error') type = 'danger' // bootstrap class
        each message in messages
            div(class="alert alert-" + type)!= message
    .modal-body
        form(class="form-control-lg" action="/login" method="post")
            input(type="hidden" name="_csrf" value=csrf())
            .form-group
                label(for="email") Имя пользователя
                input.form-control(id="email" name="email" placeholder="логин или почта" required autofocus)
            .form-group
                label(for="password") Пароль
                input.form-control(type="password" id="password" name="password" required)

            button.btn.btn-primary(type="submit") Войти
