extends layout

block content

  nav(class='navbar navbar-expand-sm navbar-light' id='welcome-user' data-role='navbar')
    span(class='navbar-text')
      | Welcome, #{user.displayName} &nbsp;
    div(class="btn-group btn-group-toggle" data-toggle="buttons")
      label(class="btn btn-secondary btn-sm active" id="show_event")
        input(type="radio" name="options" autocomplete="off" checked)
        |События
      label(class="btn btn-secondary btn-sm" id="show_graph")
        input(type="radio" name="options" autocomplete="off")
        |Инфографика

  //div.modal(class='fade' id='regModal' role='dialog' )
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            | &times
          form(action="/reg" method="post")
            h1 Регистрация
            input(type="hidden" name="_csrf" value=`csrf()`)
            .form-group
              label(for="reg-email") Почта
              input.form-control(type="email" id="reg-email" name="reg-email" placeholder="my@mail.com" required autofocus)
            .form-group
              label(for="reg-password") Пароль
              input.form-control(type="password" id="reg-password" name="reg-password" required)
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Создать учетку

  //div.modal(class='fade' id='loginModal' role='dialog' )
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            | &times
          form(action="/login" method="post")
            h1 Войти в систему
            input(type="hidden" name="_csrf" value=`csrf()`)
            .form-group
              label(for="login-email") Почта
              input.form-control(type="email" id="login-email" name="login-email" placeholder="my@mail.com" required autofocus)
            .form-group
              label(for="login-password") Пароль
              input.form-control(type="password" id="login-password" name="login-password" required)
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Войти в систему

  //nav(class='navbar navbar-expand-lg navbar-dark bg-dark' role="header")
    div.container-fluid
      //div.navbar-header
        a(class='navbar-brand' href='#')
          | WarMap
      //div(class='collapse navbar-collapse' id='navbarColor01')
      ul(class='navbar-nav')
        li(class='nav-item active')
          a(class='nav-link' data-toggle='tab' href='#map')
            | Карта
        li(class='nav-item')
          a(class='nav-link' data-toggle='tab' href='#mapdata')
            | Данные
      //ul(class='nav navbar-nav navbar-right')
        li
          a(data-toggle='modal' data-target='#regModal' href='#regModal')
            span(class='glyphicon glyphicon-user' data-toggle='modal' data-target='#regModal')
            |  Регистрация
        li
          a(data-toggle='modal' data-target='#loginModal' href='#loginModal')
            span(class='glyphicon glyphicon-log-in' data-toggle='modal' data-target='#loginModal')
            |  Вход

  div.content(role="content" id='content' dragable='true')
    input(id='fileImport' accept='application/kml' type='file' style='display:none;')
    div.map(class='fill panel panel-default' id='map' data-role='map')
    div(id='events-control')
      div(id='event-list' class='table-responsive')
      div(id='event-image-div')
    div(id='graph-control' class='d-none')
      div(id='mapContainer' class="row")
      div(id='vis' class="row")