mixin li(activeElem, link, name)
    - var isActive = (activeElem == link)
    - var link = isActive ? ( '/' + link ) : ('/' + link)
    li(class=isActive ? 'nav-item active' : 'nav-item')
        a(class='nav-link' href=link)
            | #{name}


mixin header(activeElem)
    nav(id='head-navbar' class='navbar navbar-dark bg-dark' data-role='navbar')
        div(class='container-fluid')
            ul(class='nav navbar-nav')
                +li(activeElem, 'events', 'События')
                +li(activeElem, 'info', 'Инфографика')
            //- span(class='navbar-text pull-right')
            //-     | #{user.displayName}