mixin li(activeElem, link, name)
    - var isActive = (activeElem == link)
    - var link = isActive ? ( '/' + link ) : ('/' + link)
    li(class=isActive ? 'nav-item active' : 'nav-item')
        a(class='nav-link' href=link)
            | #{name}


mixin header(activeElem)
    nav(class='navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top' data-role='navbar')
        div(class='container-fluid')
            ul(class='nav navbar-nav')
                +li(activeElem, 'events', 'События')
                +li(activeElem, 'info', 'Инфографика')
            span(class='navbar-text pull-right')
                | #{user.displayName}