extends layout

block head
  link(rel="stylesheet" href="/libs/materialdesignicons.min.css")
  link(rel="stylesheet" href="/libs/ol.css")
  script(src="/libs/ol.js")

  script(src="public-src.js" defer=defer)

  <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-136306248-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136306248-1');

  <!-- Yandex.Metrika counter -->
  script.
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(52827664, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });

block content
  +header('events')

  noscript
    div
      img(src="https://mc.yandex.ru/watch/52827664" style="position:absolute; left:-9999px;" alt="")

  div.content(role="content" id='content' dragable='true')
    input(id='fileImport' accept='application/kml' type='file' style='display:none;')
    div.map(class='fill panel panel-default' id='map' data-role='map')
    div(id='events-control')
      div(id='event-list' class='table-responsive')
      div(id='event-image-div')