extends layout
block head
  link(rel='stylesheet' href='libs/materialdesignicons.min.css')
  link(rel='stylesheet' href='/style-holy-person.css')

  script(src='/libs/oboe-browser.min.js')
  script(src='/libs/d3.min.js')
  //script(src='/libs/jquery.min.js')

  script(src='/addHolyPersons.js')
  script(src='/main-holy-persons.js')


block content
    +header('person')
    div.content(role='content' id='content' dragable='true')
        .row.person-cont
            .col-md-6
                .row.img.image-cont
                    img.image-center.img-rounded.resized-image(id='imgPerson' src='' alt='' )
                .row.details.detail-cont
                    .col-lg-12
                        blockquote
                            h5(id='FIO')
                            small
                                cite(id='LifeTime' title='Дата и место рождения')
                                br
                                cite(id='AchievementPlace' title='Место подвига')
                                br
                                cite(id='DeathTime' title='Дата смерти, захоронение')
                                br
                                cite(id='DateCanonization' title='Дата канонизации')
                                br
                                cite(id='HolinessStatus' title='Статус святости')
                                br
                                cite(id='DateVeneration' title='Дата почитания')
                                br
                                cite(id='FieldActivity' title='Сфера деятельности')
                                i.icon-map-marker
                    .col-lg-12
                        p(id='description')
            .col-md-6
                .row.details.detail-cont
                    h5 Описание
                    p(id='fullDescription')
    div(id='persons-info-container')
      button(id="collapse-person-button" class="btn btn-dark btn-small" type="button" data-toggle="collapse" data-target="#collapse-persons-info" aria-expanded="false" aria-controls="collapsePersonInfo")
        span(class="mdi mdi-chevron-double-down")
      div(class="collapse show" id="collapse-persons-info")
        div(id='persons-info-content' class='table-responsive')
             table.table.table-sm.table-borderless(id='persons-table')



