extends layout
block head

  link(rel='stylesheet' href='/style-person.css')

block content
    +header('person')
    div.content(role='content' id='content' dragable='true')
        .row.person-cont
            .col-md-6.img.image-cont
                img.img-rounded(src='img/person/ilyushin.jpg' alt='' height='300' width='400')
            .col-md-6.details.detail-cont
                blockquote
                h5 ИЛ-2
                p
                |Ил-2 — советский штурмовик времён Второй мировой войны, созданный в ОКБ-240 под руководством Сергея Владимировича Ильюшина. Самый массовый боевой самолёт в истории авиации, было выпущено более 36 тысяч штук. Конструкторы называли разработанный ими самолёт «летающим танком». Пилоты-истребители люфтваффе прозвали Ил-2 «бетонным самолётом» (нем. Betonflugzeug). По утверждению некоторых советских авторов, солдаты вермахта называли его «чумой» (нем. Schwarzer Tod, дословно: «чёрная смерть»). Ил-2 принимал участие в боях на всех театрах военных действий Великой Отечественной войны, а также в Советско-японской войне. В феврале 1941 года началось серийное производство (приказ А. И. Шахурина № 739 от 14.12.1940).
                a(href='https://ru.wikipedia.org/wiki/%D0%98%D0%BB-2') Подробнее...
        .row.person-cont
            .col-md-6.details.detail-cont
                blockquote
                h5 Сергей Владимирович Ильюшин
                small
                    cite(title='Source Title')
                        | 	18 (30) марта 1894 - 9 февраля 1977
                    i.icon-map-marker
                p
                |  Выдающийся советский авиаконструктор, разработчик самого массового боевого самолёта в истории — штурмовика Ил-2. Трижды Герой Социалистического Труда (1941, 1957, 1974). Единственный лауреат семи Сталинских премий, генерал-полковник инженерно-технической службы (1967; с 1971 года — генерал-полковник-инженер), академик АН СССР (1968).
                a(href='https://ru.wikipedia.org/wiki/%D0%98%D0%BB%D1%8C%D1%8E%D1%88%D0%B8%D0%BD,_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87') Подробнее...
            .col-md-6.img.image-cont
                img.img-rounded(src='img/person/il.jpg' alt='' height='300' width='400')
        #events-control
            #eventInfo.table-responsive
                table.table.table-sm.table-borderless
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Фамилия
                            th(scope='col') Имя
                            th(scope='col') Отчество
                    tbody
                        tr.hand-cursor(data-href='5caa008278f6093717062913')
                            th(scope='row') 1
                            td Ильюшин
                            td Сергей
                            td Владимирович
                        tr.hand-cursor.event-active-row(data-href='5caa008378f6093717062916')
                            th(scope='row') 2
                            td Ильюшин
                            td Сергей
                            td Владимирович
                        tr.hand-cursor(data-href='5caa008278f6093717062911')
                            th(scope='row') 3
                            td Ильюшин
                            td Сергей
                            td Владимирович


    //- .navbar-fixed-bottom.row-fluid
    //-     .navbar-inner
    //-         .container
    //-             .row.fixed-bottom
    //-                 table.table.table-bordered.table-dark(style='margin-bottom:0rem')
    //-                     thead
    //-                         tr
    //-                         th(scope='col') #
    //-                         th(scope='col') Фамилия
    //-                         th(scope='col') Имя
    //-                         th(scope='col') Отчество
    //-                     tbody
    //-                         tr
    //-                         th(scope='row') 1
    //-                         td Ильюшин
    //-                         td Сергей
    //-                         td Владимирович
    //-                         tr
    //-                         th(scope='row') 2
    //-                         td Ильюшин
    //-                         td Сергей
    //-                         td Владимирович
    //-                         tr
    //-                         th(scope='row') 3
    //-                         td Ильюшин
    //-                         td Сергей
    //-                         td Владимирович
