extends layout
block head
  link(rel='stylesheet' href='/style-task.css')

  script(src='/libs/oboe-browser.min.js')
  script(src='/libs/d3.min.js')
  //script(src='/libs/jquery.min.js')
  script(src="/libs/bootstrap-notify.min.js")

  script(src='/addTask.js')

  script(src='/main-task.js')

block content
    +header('task')
    div.content(role='content' id='content' dragable='true')
        .row.person-cont
            .col-md-6(align='center')
                .row.details.detail-cont
                    blockquote
                        h5 Факты о войне
                .row.details.detail-cont.gradient-border(id='box')
                    p(id='Hint')
                        | 
                .row.details.detail-cont(style='display: block;')
                    button.btn.btn-dark(type='button' id='nextHint') 
                        | Следующий факт
            .col-md-6(align='center')
                .row.details.detail-cont
                    blockquote
                        h5 Этот день в истории
                .row.details.detail-cont.gradient-border(id='box')
                    p(id='100YearsAgo')
                        | 





