extends layout
block head
  link(rel="stylesheet" href="/libs/materialdesignicons.min.css")
  
  link(rel="stylesheet" href="/libs/ol.css")
  script(src="/libs/ol.js")

  link(rel="stylesheet" href="/libs/ol-ext.min.css")
  script(src="/libs/ol-ext.min.js")
  
  link(rel='stylesheet' href='/style-person.css')
  
  

  script(src='/libs/oboe-browser.min.js')
  script(src='/libs/d3.min.js')
  script(src='/libs/jquery.min.js')
  script(src="/libs/bootstrap-notify.min.js")
  
  script(src='/addTask.js')

  script(src='/main-task.js')

block content
    +header('task')
    div.content(role='content' id='content' dragable='true')
        .row.person-cont
            //- .col-md-4
            //-     .row.details.detail-cont
            //-         .col-lg-12
            //-             blockquote
            //-                 h5 Описание задачи
            //-                 h5(id='Name') 
            //-                     | Задача
            //-                 small
            //-                     cite(id='Workman' title='Исполнитоель') 
            //-                         | Имя
            //-                     br    
            //-                     cite(id='Status' title='Статус')
            //-                         | В процессе
            //-                     br
            //-                     cite(id='Date' title='Срок')
            //-                         | февраль 1977
            //-                     i.icon-map-marker
            //-         .col-lg-12
            //-             p(id='Description')
            //-                 | Надо что-то делать
            .col-md-6
                .row.details.detail-cont
                    blockquote
                        h5 Случайная информация
                .row.details.detail-cont
                    p(id='Hint')
                        | Хинт
            .col-md-6
                .row.details.detail-cont
                    blockquote
                        h5 Этот день в истории 
                .row.details.detail-cont        
                    p(id='100YearsAgo')
                        | В этот день Н лет назад             
                    //- .card(style='width: 18rem;')
                    //-     img.card-img-top(src='...' alt='...')
                    //-     .card-body
                    //-         h5.card-title Card title
                    //-         p.card-text
                    //-         | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //-         a.btn.btn-primary(href='#') Go somewhere                                    
    //- div(id='persons-info-container')
    //-   button(id="collapse-person-button" class="btn btn-dark btn-small" type="button" data-toggle="collapse" data-target="#collapse-persons-info" aria-expanded="false" aria-controls="collapsePersonInfo")
    //-     span(class="mdi mdi-chevron-double-down")
    //-   div(class="collapse show" id="collapse-persons-info")
    //-     div(id='persons-info-content' class='table-responsive')
    //-          table.table.table-sm.table-borderless(id='persons-table')

               


