extends layout
block head
  link(rel="stylesheet" href="/libs/materialdesignicons.min.css")
  
  link(rel="stylesheet" href="/libs/ol.css")
  script(src="/libs/ol.js")

  link(rel="stylesheet" href="/libs/ol-ext.min.css")
  script(src="/libs/ol-ext.min.js")
  
  link(rel='stylesheet' href='/style-person.css')
  


  script(src='/libs/oboe-browser.min.js')
  script(src='/libs/d3.min.js')
  script(src='/libs/jquery.min.js')

  script(src='/addTask.js')

  script(src='/main-task.js')

block content
    +header('person')
    div.content(role='content' id='content' dragable='true')
        .row.person-cont
            .col-md-12
                .row.img.image-cont
                    //img.image-center.img-rounded.resized-image(id='imgPerson' src='img/person/ilyushin.jpg' alt='' )
                .row.details.detail-cont
                    .col-lg-12
                        blockquote
                            h5(id='Name') 
                                | Задача
                            small
                                cite(id='Workman' title='Исполнитоель') 
                                    | Имя
                                br    
                                cite(id='Status' title='Статус')
                                    | В процессе
                                br
                                cite(id='Date' title='Срок')
                                    | февраль 1977
                                i.icon-map-marker
                    .col-lg-12
                        p(id='Description')
                            | Надо что-то делать
            //- .col-md-6
            //-     .row.details.detail-cont
            //-         blockquote
            //-             h5 Описание
            //-         p(id='fullDescription')
            //-             | Ил-2 — советский штурмовик времён Второй мировой войны, созданный в ОКБ-240 под руководством Сергея Владимировича Ильюшина. Самый массовый боевой самолёт в истории авиации, было выпущено более 36 тысяч штук. Конструкторы называли разработанный ими самолёт «летающим танком». Пилоты-истребители люфтваффе прозвали Ил-2 «бетонным самолётом» (нем. Betonflugzeug). По утверждению некоторых советских авторов, солдаты вермахта называли его «чумой» (нем. Schwarzer Tod, дословно: «чёрная смерть»). Ил-2 принимал участие в боях на всех театрах военных действий Великой Отечественной войны, а также в Советско-японской войне. В феврале 1941 года началось серийное производство (приказ А. И. Шахурина № 739 от 14.12.1940). 
            //-             a(href='https://ru.wikipedia.org/wiki/%D0%98%D0%BB-2') Подробнее...
        
    div(id='persons-info-container')
      button(id="collapse-person-button" class="btn btn-dark btn-small" type="button" data-toggle="collapse" data-target="#collapse-persons-info" aria-expanded="false" aria-controls="collapsePersonInfo")
        span(class="mdi mdi-chevron-double-down")
      div(class="collapse show" id="collapse-persons-info")
        div(id='persons-info-content' class='table-responsive')
             table.table.table-sm.table-borderless(id='persons-table')

               


