extends layout
block head

  //script(src='/libs/jquery.min.js')
  script(src='/libs/jquery.rwdImageMaps.min.js')
  script(src='/libs/jquery.maphilight.min.js')

  script(src='/libs/d3.min.js')

  link(rel='stylesheet' href='/libs/bootstrap-toggle.min.css')
  script(src='/libs/bootstrap-toggle.min.js')

  script(src='/addComboBoxFromJson.js')
  script(src='/addTanks.js')

  link(rel='stylesheet' href='/style-tanks.css')
  script(src='/main-tanks.js')

block content
    +header('armament')

    div.content.bg(role='content' id='content' dragable='true' class='bg')
        div(class='row title-cat')
            div(class='col-12 title-cat')
            | Танки
        div(class='row')
            div(class='col-6 text_cat')
                div(class='row')
                    .dropdown(id="firstDropDown")
                        button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
                            | Выберите категорию
                        .dropdown-menu(id='dropDownListSubMenuFirst')
                            a.dropdown-item(href='#') 1-й уровень
                            a.dropdown-item(href='#') 1-й уровень

            div(class='col-6 text_cat')
                div(class='row')
                    .dropdown(id="secondDropDown")
                        button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
                            | Выберите категорию
                        .dropdown-menu(id='dropDownListSubMenuSecond')
                            a.dropdown-item(href='#') 1-й уровень
                            a.dropdown-item(href='#') 1-й уровень
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Img')
            div(class='col-6 text_cat' id='secondElement-Img')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Type')
            div(class='col-6 text_cat' id='secondElement-Type')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Kind')
            div(class='col-6 text_cat' id='secondElement-Kind')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Brand')
            div(class='col-6 text_cat' id='secondElement-Brand')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Country')
            div(class='col-6 text_cat' id='secondElement-Country')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Constructor')
            div(class='col-6 text_cat' id='secondElement-Constructor')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Manufacturer')
            div(class='col-6 text_cat' id='secondElement-Manufacturer')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Year_creation')
            div(class='col-6 text_cat' id='secondElement-Year_creation')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Adopted')
            div(class='col-6 text_cat' id='secondElement-Adopted')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Production_end')
            div(class='col-6 text_cat' id='secondElement-Production_end')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Number')
            div(class='col-6 text_cat' id='secondElement-Number')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Weight_kg')
            div(class='col-6 text_cat' id='secondElement-Weight_kg')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Length_m')
            div(class='col-6 text_cat' id='secondElement-Length_m')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Production_place')
            div(class='col-6 text_cat' id='secondElement-Production_place')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Initial_projectile_speed_m_s')
            div(class='col-6 text_cat' id='secondElement-Initial_projectile_speed_m_s')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Armor_thickness_mm_board')
            div(class='col-6 text_cat' id='secondElement-Armor_thickness_mm_board')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Main_caliber_mm')
            div(class='col-6 text_cat' id='secondElement-Main_caliber_mm')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Ammunition')
            div(class='col-6 text_cat' id='secondElement-Ammunition')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Rate_of_fire')
            div(class='col-6 text_cat' id='secondElement-Rate_of_fire')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Firing_range_km')
            div(class='col-6 text_cat' id='secondElement-Firing_range_km')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Speed_km_h_or_knots')
            div(class='col-6 text_cat' id='secondElement-Speed_km_h_or_knots')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Crew_person')
            div(class='col-6 text_cat' id='secondElement-Crew_person')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Cruising_range_km')
            div(class='col-6 text_cat' id='secondElement-Cruising_range_km')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Engine_power_hp')
            div(class='col-6 text_cat' id='secondElement-Engine_power_hp')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Armament')
            div(class='col-6 text_cat' id='secondElement-Armament')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Practical_ceiling')
            div(class='col-6 text_cat' id='secondElement-Practical_ceiling')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Source')
            div(class='col-6 text_cat' id='secondElement-Source')
        div(class='row')
            div(class='col-6 text_cat' id='firstElement-Note')
            div(class='col-6 text_cat' id='secondElement-Note')