extends layout

block head
  link(rel="stylesheet" href="/libs/materialdesignicons.min.css")
  link(rel="stylesheet" href="/libs/ol.css")
  script(src="/libs/ol.js")

  script(src="public-src.js" defer=defer)

block content
  +header('events')

  div.content(role="content" id='content' dragable='true')
    input(id='fileImport' accept='application/kml' type='file' style='display:none;')
    div.map(class='fill panel panel-default' id='map' data-role='map')
    div(id='events-control')
      div(id='event-list' class='table-responsive')
      div(id='event-image-div')