extends layout
block head

  link(rel='stylesheet' href='/style-about.css')

block content
    +header('about')

    div(id='content_inner_wrapper')
        div(id='page_background_videos')
          video(playsinline muted autoplay loop)
            source(class='mobile' src="videos/background_video.webm" type="video/webm")
            source(class='mobile' src="videos/background_video.mp4" type="video/mp4")

    div.content(role="content" id='content' dragable='true')
        div(class='row')
            div(class='col-md-5 offset-md-7')
                blockquote.quote-card
                    p
                        | Страна, забывшая свою культуру, историю, традиции и&nbsp;национальных героев – обречена на&nbsp;вымирание
                    cite
                        | Лев Николаевич Толстой
        div(class='row main-text')
            div(class='col-md-8 offset-md-2')
                div(id='helmet')
                div(class="mask")
                    span(class="mask-span")
                        p
                            | Проект посвящен истории второй мировой и Великой Отечественной войн. Собрана информация о крупнейших военных и политических событиях, приведены карты боевых действий, информация о героях Великой Отечественной Войны. Показаны основные экономические и демографические показатели стран-участниц.
                p
                    | Современный уровень обработки информации позволяет с легкостью визуализировать и систематизировать огромные массивы данных. Мы знаем в какой стране самая высокая продолжительность жизни, в каком городе самая большая плотность населения, когда был изобретен телефон, сколько автомобилей или танков произведено в каком государстве в прошлом веке… В основе кажущейся легкости поиска любых данных по любому субъекту истории за почти любой отрезок времени лежит огромная работа по сбору данных. К великому сожалению, большая часть истории человечества по разным причинам (пожары в библиотеках, вандализм, политическая ангажированность и необъективность отдельных историков и биографов) нам недоступна. Вместе с тем, весьма приличная ее часть, в особенности – последние 3-5 веков, - почти полностью открыты. Это огромный массив данных, причем при более внимательном рассмотрении, учитывая конкретный контекст, под разным, так сказать, углом, события воспринимаются совершенно по-разному. Обратим, внимание, например, на то, что могущественные империи часто содрогались, а иногда и разваливались под ударами неприметных, но агрессивных или пассионарных соседей, как это было с Римской империей или Византией. Таким образом, при более внимательном рассмотрении – исторические события – не просто набор данных, а упорядоченная цепь взаимовлияющих событий.
                p
                    | Неоценимый вклад в обеспечение доступности любой информации для каждого жителя земли внесли (наряду с поколениями историков, географов, археологов) – интернет и Википедия в частности. При более внимательном рассмотрении, -
                    a(href='https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0') Википедия
                    |  и другие источники (
                    a(href='https://histrf.ru/mediateka/interactive/maps/interactive-map') интерактивная карта
                    | ,
                    a(href='https://www.youtube.com/watch?v=4pnmZalx9YY') история мира за семь минут
                    | ,
                    a(href='https://data.worldbank.org/') World Bank Open Data
                    | ,
                    a(href='https://www.rug.nl/') гронингенский университет
                    | ,
                    a(href='http://www.tanks-encyclopedia.com/') Tank Encyclopedia
                    | ,
                    a(href='http://militera.lib.ru/') Милитера
                    | ,
                    a(href='http://istmat.info/') ИСТорические МАТериалы
                    |  и т.д.) открывают нам события уже контекстно, т.е. в тесной связи друг с другом. В этих и некоторых других источниках мы можем видеть уже не просто отдельные события, а связанные между собой во времени и в пространстве, т.е. упорядоченные данные. Мы можем крутить «историческую карту» во все стороны, включая временную ось. История в этом контексте становится трехмерной – X, Y, T – две пространственные и одна временнАя координаты делают ее гораздо более доступной для восприятия.
                p
                    | Но и этого, как выясняется, недостаточно для полного понимания и эффективного восприятия исторической картины. Каждое событие, увязанное, как было сказано выше, с тремя координатами, носит еще и количественные характеристики. Так, например, самое крупное в истории человечества сражение – Сталинградская битва может быть правильно оценена лишь при осознании соотношения сил: СССР – 1400 тыс. солдат и страны «Оси» (Германия, Румыния, Италия, Венгрия, Хорватия) – 987 тыс. захватчиков… Столь же высока и необходимость учета количественных характеристик (в дополнение к X,Y,T) для оценки большинства других исторических событий.
                p
                    | Наш проект не имеет целью восполнить пробелы в истории, не претендует на стопроцентную историческую правоту, а нацелен лишь на сбор в едином интернет-ресурсе, систематизацию и визуализацию данных. Мы пытаемся показать (часть истории) в контексте перечня событий и количественных характеристик стран-участниц. Кроме того, нельзя недооценивать роль личности в истории. Для этого предусмотрен раздел, посвященный Героям своего времени, а также – отдельная страница, описывающая отдельные, выдающиеся открытия и изобретения, повлиявшие на развитие истории.
                p(style='text-align:right;font-style: italic;')
                    | Всегда готовы к сотрудничеству:
                    br
                    | Середа Илья, Иванов Дмитрий, Губайдуллин Ильдар, Мокрев Алексей, Безлепкин Ярослав
                    br
                    a(href='mailto:ww3d@inbox.ru?subject=Map history' title='Письмо разработчикам ww3d@inbox.ru')
                        | ww3d@inbox.ru