extends layout

block head
  script(src="/hooks.js")
  script(src='/eventEmitter.js')
  script(src="/clientProtocol.js")
  script(src="/main.js")

block content
  +header('info')

  div.content(role="content" id='content' dragable='true')
    h2 hello