extends layout
block head

  //- script(src='/libs/jquery.min.js')
  script(src='/libs/jquery.rwdImageMaps.min.js')
  script(src='/libs/jquery.maphilight.min.js')

  link(rel='stylesheet' href='/libs/bootstrap-toggle.min.css')
  script(src='/libs/bootstrap-toggle.min.js')

  link(rel='stylesheet' href='/style-armament.css')
  script(src='/main-armament.js')

block content
    +header('armament')

    div.content.background(role='content' id='content' dragable='true')
        img.stretch(src='img/armament.png', class='' alt='' usemap='#image-map')

        map(id='image-map' name='image-map')
            area(target='' alt='Atrcraft' title='Atrcraft' href='aircrafts' coords='72,212,101,202,145,203,172,205,196,209,237,214,272,215,301,217,323,219,352,222,372,217,388,214,399,219,413,232,437,232,460,232,474,224,486,215,501,203,518,193,540,185,561,171,586,159,606,156,627,154,664,142,693,129,703,100,722,76,737,61,762,54,788,49,810,49,825,56,839,68,859,90,864,109,873,124,876,144,878,163,874,181,868,205,854,222,840,236,825,254,773,258,835,258,868,256,905,258,937,258,966,261,990,263,1007,263,1024,264,1027,278,1019,290,998,300,971,307,918,319,842,327,783,341,723,346,678,348,627,356,598,358,578,375,557,387,520,387,491,381,464,381,437,388,418,390,379,393,357,392,338,370,335,351,248,337,230,314,255,298,150,273,108,263,82,256,65,239' shape='poly')
            area(target='' alt='Tank' title='Tank' href='tanks' coords='225,610,233,587,247,571,267,553,286,541,310,531,340,531,366,527,389,519,410,510,427,498,452,490,476,490,508,487,523,495,537,502,554,510,569,522,583,527,601,529,620,529,642,539,1039,407,1059,414,1066,427,1066,437,1066,453,1051,466,684,600,684,619,684,636,679,653,671,668,661,688,678,690,698,687,713,687,730,693,744,704,764,702,788,702,805,700,818,715,825,727,829,738,837,748,847,756,856,765,873,763,885,766,900,761,913,761,930,761,956,763,980,770,995,780,1008,788,1020,804,1032,819,1034,831,1027,844,1012,853,1000,860,998,877,998,900,996,916,988,934,976,943,920,980,876,1004,846,1014,813,1017,781,1022,734,1019,691,1017,633,1004,571,992,542,997,498,997,481,1024,471,1033,460,1048,433,1053,410,1058,354,1066,310,1068,274,1065,232,1056,130,1026,92,1019,60,1004,45,990,26,968,9,939,8,916,3,878,3,849,6,817,16,799,38,792,47,775,42,749,53,717,70,707,99,704,123,699,148,695,164,695,196,688,216,675,225,636' shape='poly')
            area(target='' alt='Submarine' title='Submarine' href='ships' coords='773,643,788,641,818,632,812,610,812,590,830,583,847,595,842,614,846,627,859,622,859,602,856,568,868,563,885,573,901,582,910,600,891,627,973,612,993,602,1003,587,1005,571,1002,556,959,546,947,531,951,519,961,514,980,517,996,517,1012,517,1025,522,1041,522,1052,522,1071,522,1086,531,1098,527,1110,531,1120,541,1137,534,1147,517,1154,497,1171,482,1188,480,1217,478,1231,476,1195,341,1207,329,1225,322,1242,322,1263,322,1263,471,1278,473,1302,473,1314,478,1329,478,1348,482,1354,493,1363,504,1366,515,1371,527,1375,536,1383,549,1493,539,1517,536,1517,515,1526,504,1546,497,1558,502,1568,512,1565,532,1580,531,1595,521,1607,505,1612,488,1629,478,1649,471,1668,461,1685,463,1711,458,1739,453,1758,461,1758,475,1750,483,1739,488,1724,490,1709,497,1687,507,1683,521,1697,521,1714,519,1744,514,1777,514,1819,512,1843,510,1814,351,1819,334,1831,332,1843,337,1882,515,1899,527,1894,541,1890,678,1875,693,1856,705,1836,710,1811,719,1789,724,1765,729,1739,732,1712,732,1675,736,1634,738,1577,738,1521,741,1454,743,1402,741,1309,739,1224,738,1125,731,1030,724,946,714,890,707,842,702,825,700,796,683,781,670,769,661' shape='poly')

