extends layout
block head

  script(src='/libs/jquery.min.js')
  script(src='/libs/jquery.rwdImageMaps.min.js')
  script(src='/libs/jquery.maphilight.min.js')

  script(src='/libs/d3.min.js')

  link(rel='stylesheet' href='/libs/bootstrap-toggle.min.css')
  script(src='/libs/bootstrap-toggle.min.js')

  script(src='/addComboBoxFromJson.js')
  script(src='/addAircrafts.js')

  link(rel='stylesheet' href='/style-aircrafts.css')
  script(src='/main-aircrafts.js')

block content
    +header('armament')

    div.content.bg(role='content' id='content' dragable='true' class='bg') 
        div(class='row title-cat')
            div(class='col-12 title-cat')
            | Самолеты
        div(class='row')
            div(class='col-6 text_cat')
                div(class='row')            
                    .dropdown(id="firstDropDown")
                        button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
                            | Выберите категорию
                        .dropdown-menu(id='dropDownListSubMenuFirst')
                            a.dropdown-item(href='#') 1-й уровень
                            a.dropdown-item(href='#') 1-й уровень
                div(id="firstElement")
            div(class='col-6 text_cat')
                div(class='row')
                    .dropdown(id="secondDropDown")
                        button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
                            | Выберите категорию
                        .dropdown-menu(id='dropDownListSubMenuSecond')
                            a.dropdown-item(href='#') 1-й уровень
                            a.dropdown-item(href='#') 1-й уровень 
                div(id="secondElement")           
                   