extends layout

block head

  script(src='/libs/json2.js')

  link(rel='stylesheet' href='/style-info.css')
  script(src='/libs/oboe-browser.min.js')
  script(src='/libs/d3.min.js')
  //script(src='/libs/jquery.min.js')

  link(rel='stylesheet' href='/libs/bootstrap-toggle.min.css')
  script(src='/libs/bootstrap-toggle.min.js')


  link(rel='stylesheet' href='/libs/spin.css')
  script(src='/libs/spin.js')

  script(src='/libs/spin-extend.js')


  script(src='/addImageInPage.js')
  script(src='/addMapInfoDiagramm.js')
  script(src='/flagCircleInMap.js')

  script(src='/addComboBoxFromJson.js')
  script(src='/addCountries.js')
  script(src='/addSlider.js')

  script(src='/cookieHelper.js')

  script(src='/main-info.js')
  script(src='/addDiagramm.js')


block content
  +header('info')

  div.content(role='content' id='content' dragable='true')
    div(class='row')
      div(class='col-3')
        .dropdown
          button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
            | Выберите категорию
          .dropdown-menu(id='dropDownListSubMenu')
          //-   a.dropdown-item(href='#') 1-й уровень
          //-   a.dropdown-item.submenu(href='#') 1-й уровень
          //-   .dropdown-menu
          //-     a.dropdown-item(href='#') 2-й уровень
          //-     a.dropdown-item.submenu(href='#') 2-й уровень
          //-     .dropdown-menu
          //-       a.dropdown-item(href='#') 3-й уровень
          //-       a.dropdown-item(href='#') 3-й уровень
          //-   a.dropdown-item(href='#') 1-й уровень
          //-   a.dropdown-item.submenu(href='#') 1-й уровень
          //-   .dropdown-menu
          //-     a.dropdown-item(href='#') 2-й уровень
          //-     a.dropdown-item.submenu(href='#') 2-й уровень
      //- input(type="checkbox" data-toggle="toggle")
      div(class='col-9')
        .btn-group.btn-group-toggle(data-toggle='buttons' class='right')
          label.btn.btn-secondary.active
            input#option1(type='radio', name='options', checked='')
            |  14-65
          label.btn.btn-secondary
            input#option2(type='radio', name='options')
            |  Всё

    div(id='graph-control')
      div(id='cbdd' class='row')
      //- .dropdown
      //-   button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      //-     | Выберите категорию
      //-   .dropdown-menu.scrollable-menu(id='dropDownList' aria-labelledby='dropdownMenuButton')
      //-     a.dropdown-item(href='#') Action
      //-     a.dropdown-item(href='#') Another action
      //-     a.dropdown-item(href='#') Something else here


      div(id='nameContainer' class='row text-dark')
        h4
          | Войска
      div(id='mapContainerParent' class='row')
        div(id='mapContainer' class='col-9')
        div(id='mapContainerInfo' class='col-3')
      div(id='vis' class='row')
      //div(id='dashboard' class='row text-dark')
      //div(id='visDashboard' class='row')