extends layout

block head
  link(rel="stylesheet" href="/libs/materialdesignicons.min.css")

  link(rel="stylesheet" href="/libs/ol.css")
  //script(src="/libs/ol.js")

  link(rel="stylesheet" href="/libs/ol-ext.min.css")
  //script(src="/libs/ol-ext.min.js")

  script(src="public-src.js")

  script.
    (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter52827664 = new Ya.Metrika({ id:52827664, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");

block content
  +header('events')

  div(class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-lg" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="imgModalLabel")
            | Modal Title
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")
              | &times
        div(class="modal-body")
          | ...

  div.content(role="content" id='content' dragable='true')
    div.map(class='fill panel panel-default' id='map' data-role='map')
    div(id='legend-container')
      button(id='legend-button' class='btn btn-dark btn-small' type='button')
          span(id='legend-span' class='mdi mdi-format-list-bulleted mdi-24px')
      div(id='legend-div' class='noselect legend-div-hide')